

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}
html{
  scroll-behavior: smooth;
}
body {
    height: 100vh;
    width: 100vw;
    font-weight: 300;
    background-color: rgb(0, 0, 0);
    margin: 0rem;
    overflow:hidden;
    overflow-y: scroll;
    
    
}
.container {
  width: 95%;
  margin: 0 auto;
}
.logo{
  float: left;
}
header {
  background: #322c33;
  
}
header::after{
  content: '';
  display: table;
  clear: both;
}
nav{
  font-family: monospace;
  font-weight: 500;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position:fixed;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom:15px;

  position: relative;
}

nav a {
  color: rgb(115, 112, 112);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  

}
 nav a:hover{
  color: rgb(255, 255, 255);
 }

 nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 300ms;
 }

 nav a:hover::before{
  width:100%;
 }

.is-black{
  background-color: black;
}

.hero{align-items: stretch; display: flex; flex-direction: column; justify-content: space-between; }

.centered-text{ text-align: center !important;}
.justified-text{ text-align: justify !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.avatar { 
  margin: 1rem 0; 
  width: 300px; 
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3.0rem 1.5rem;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.is-centered {
  justify-content: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "eurostile", sans-serif;
  font-weight: 400;
}

.title {
  color: #ffffff;
  font-weight: 600;
  font-family: monospace;
  font-size: xx-large;
}
.about .title {
  color: #ffffff;
  font-weight: 400;
  font-family: monospace;
  font-size: xx-large;
}
.subtitle {
  color: white;
  font-family: monospace;
  line-height: 0;
  font-size: large;
}
.about .subtitle {
  color: white;
  font-family: monospace;
  line-height: 0;
  font-size: medium;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.5rem;
}

.hero-foot {
  padding: 0rem 1.0rem;
}

.hero-foot img.is-bottom {
  margin-bottom: -0.2rem;
}

.about{
  align-items: stretch; 
  display: flex; 
  flex-direction: column; 
  background-color:#322c33; 
  color: white;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.projects{
  background-color: black; 
  color: white;
  font-family: monospace;
  font-weight: 100;
}

.projects {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.projects .projects-body{
  margin: 2%;
  justify-content: center;
  
           
}
.row{
  height: 40vh;
  width:100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
}
.projects .column{
  background-color: #322c33; 
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.2rem;
  border: solid 40px black;
  font-size:15px;
}

.projects .column:hover{
  border: solid 35px rgb(0, 0, 0);
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 31vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}
