::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  font-family: monospace;
  background: #001220;
  overflow-x: hidden;
  overflow-y: scroll;


}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 10vw
}

.black {
  background: #001220;
}

.orange {
  background: #FF6900;
}

.red {
  background: red;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.wave .shape-fill {
  fill: #FF6900;
}

.about {
  min-height: 200px;
}

.container {
  width: 95%;
  margin: 0 auto;
}
header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  font-family: monospace;
  font-weight: 500;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 15px;
  
  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;


}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 300ms;
}

nav a:hover::before {
  width: 100%;
}


.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20vw;
}

.centered-text {
  text-align: center !important;
}

.justified-text {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.avatar {
  margin: 0rem 0;
  width: 300px;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0rem 1.5rem;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.is-centered {
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "eurostile", sans-serif;
  font-weight: 400;
}

.title {
  color: #ffffff;
  font-weight: 600;
  font-family: monospace;
  font-size: xx-large;
}

.about .title {
  color: #ffffff;
  font-weight: 400;
  font-family: monospace;
  font-size: xx-large;
}

.subtitle {
  color: white;
  font-family: monospace;
  line-height: 0;
  font-size: large;
}

.about .subtitle {
  color: white;
  font-family: monospace;
  line-height: 0;
  font-size: medium;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.0rem;
}

.spacer{
  aspect-ratio: 900/100;
  width:100%;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;

}

.bottom-waves{
  background-image: url('./svg/bottomlayeredwaves.svg');
}
.top-waves{
  background-image: url('./svg/toplayeredwaves.svg');
}

.terrain {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}